* {
  color: black;
}
.Navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid #d46ab4;
}
.Menu {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 0px;
  font-family: "Roboto Mono", monospace;
  flex-wrap: wrap;
}
.dark-theme-menuItem {
  color: white;
}
.menuItem {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.menuItem:hover {
  color: #d46ab4;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Navbar {
    justify-content: flex-start;
  }
  .Menu {
    width: 100%;
    flex-direction: column;
  }
  .buttonSwitch {
    padding: 10px;
  }
}
